.nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index:1;
    width:100%;
    padding:20px;
    height: 30px;
    /* Animations */
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.navBlack{
    background-color: #111;
}

.leftSide{
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    color: white;
}

.leftText{
    padding-left: 20px;
}


.navLogo{
    width: 90px;
    object-fit:contain;
}

.rightSide{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    height: 50px;
    color: white;
    align-items: center;
}

.rightItem{
    padding-right: 20px;
}

.navAvatar{
    width: 40px;
    object-fit: contain;
    padding-right: 20px;
}