.contact{
    text-align: center;
    color: white;
    padding: 20px;
}

.iconContainer{
    display: flex;
    color:white;
    margin-left: 20px;
    justify-content: center;
    padding-bottom: 20px;
}

a{
    color: white;
    text-decoration: none;
}
